*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
   justify-content: space-around;
   background: #FFC017  ;
   height:10vh;
   align-items: center;
   border-bottom: 1px solid rgba(0, 0, 0, 0.774);

}
.logo{
    width: 112px;
    display: flex;
}
nav,a{
text-decoration: none;
list-style: none;
padding: 21px; 
list-style-type: lower-roman;
font-size: larger; 
}
button{
    margin-left: 34px;
    border-radius: 23px;
    background-color: darkblue;
    color: white;
    padding: 3px;
   
}
.artical{
   
    background-color: aqua;
   display: flex;
    justify-content: space-evenly;
    
    align-items:center ;
    
}


.hero_grid{
    display: grid;
    font-size: 24px;
   grid-template-columns: repeat(3,1fr);
   gap: 22%;
}
.grid_column1{
 justify-content: space-between;   
}
.hedd{
    font-size: 24px;
}
.hero_news{

    width: 100%;

   margin-top: 100px;
  top: 539px;

  height:350px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.content-2{
    display: grid;
    /* grid-template-columns: 1fr 0.6fr ; */
 grid-template-columns: repeat(1 ,2fr);
   

}
.right{
    padding-left: 2%;
}

/* .sidebar{
    display: flex;
    flex-direction: column;
} */
/* 
main{

    width: 100%;
       border-top: 1px solid black;
       position: absolute;
       top: 880px;
       margin-top: 100px;
       display: grid;
       
       overflow: visible;
      
      
   } */

   